<InstalledPlugins>
  <Plugin>
  <Name>Plugin</Name>
  <Contact>borisshishov@gmail.com</Contact>
  <PluginTypeName>ShishovLab1.Plugin, ShishovLab1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</PluginTypeName>
  <PluginUri>http://shishov.no-ip.org/</PluginUri>
  <PluginId>://ShishovLab1.Plugin/1.0.0.0</PluginId>
  <Trust PublicKeyToken="">Default</Trust>
  <ReleaseDate>2014-12-03</ReleaseDate>
  <Author>Shishov Boris</Author>
  <AppVersion>0.1</AppVersion>
  <Modules>
    <Module TypeName="ShishovLab1.MainModule, ShishovLab1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      
    </Module>
  </Modules>
  <Assemblies>
    <Assembly Name="ShishovLab1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </Assemblies>
  
  <StartMode>Startup</StartMode>
  <StartupAction>None</StartupAction>
</Plugin>
</InstalledPlugins>